<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Library</title>
</head>

<body>

<div style="margin: auto; width: 400px">

    <form action="/edytujKsiazke" method="post" th:object="${book}">
        <input type="hidden" th:field="*{id}" placeholder="ID" /> <br/>
        <input type="text" th:field="*{title}" placeholder="Tytuł" /> <br/>
        <input type="text" th:field="*{description}" placeholder="Opis" /> <br/>
        <input type="text" th:field="*{isbn}" placeholder="isbn" /> <br/>
        <input type="date" th:field="*{releaseDate}" placeholder="Data wydania"/><br/>
        <select th:field="*{category}">
            <option
                    th:each="category: ${T(mp.zadanie23.Category).values()}"
                    th:text="${category}"
                    th:value="${category}">
            </option>
        </select>
        <input type="submit" value="Edytuj" />

    </form>

</div>

</body>
</html>