<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Library</title>
</head>

<body>

<h1>Książka, którą chcesz edytować: </h1>

<form action="/edytowanie" method="post" th:object="${book}">
    <p>Wybierz id książki:
        <input type="text" name="id"/> <br>
        <input type="text" placeholder="Tytuł" th:field="*{title}"/> <br/>
        <input type="text" placeholder="Opis" th:field="*{description}"/> <br/>
        <input type="text" placeholder="isbn" th:field="*{isbn}"/> <br/>
        <select th:field="*{category}">
            <option
                    th:each="category: ${T(mp.zadanie23.Category).values()}"
                    th:text="${category}"
                    th:value="${category}"></option>
        </select><br/>
        <input type="submit" value="Edytuj" />
</form>

</body>
</html>